{%extends 'base.html'%}
{%block titulo%}Admin{%endblock%}
{%block conteudo%}
<div class="container">

    <h3 class="mb-5 mt-5">Base de usuarios:</h3>
    <!-- Botões -->
    <div class="text-center">
        <div class="row">
            <div class="col-md-4 col-sm-12 mt-1">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" 
                    data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Inserir</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-1">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-warning">Atualizar</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-1">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-danger">Deletar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Formulario Cadastrar -->
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="container mt-3">
            <h3 class="offcanvas- title mb-3" id="offcanvasTopLabel">Cadastrar</h3>
            <form action="/admin/cadastrar" method="POST">
                <div class="row"> 
                    <div class="col-md-3 mt-1">
                        <input type="text" name="nome" id="nome" 
                        class="form-control" placeholder="Nome:" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <input type="email" name="email" id="email" 
                        class="form-control" placeholder="Email:" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <input type="password" name="senha" id="senha" 
                        class="form-control" placeholder="Senha:" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <input type="number" name="admin" id="admin" 
                        class="form-control" placeholder="Permição:" required>
                    </div>
                </div>
                
                <div class="row text-center">
                    <div class="col-md-6 col-sm-12 d-grid gap-2 mt-2">
                        <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="offcanvas" aria-label="Close">Cancelar</button>
                    </div>
                    <div class="col-md-6 col-sm-12 d-grid gap-2 mt-2">
                        <button type="submit" class="btn btn-primary"
                        id="enviar" name="enviar">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        
    <!-- tabela -->
    <div class="row mt-5">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Perfil</th>
                </tr>
            </thead>
            <tbody>
                {% for e in users %}
                <tr>
                    <th scope="row">
                    </th>
                    <th scope="row">
                        <label class="form-check-label">{{e.nome}}</label>
                    </th>
                    <th scope="row">
                        <label class="form-check-label">{{e.email}}</label>
                    </th>
                    <th scope="row">
                        <label class="form-check-label">{{e.senha}}</label>
                    </th>
                    <th scope="row">
                        <label class="form-check-label">
                            {% if e.admin == 1 %} 
                                Admin
                                {% else %}
                                Normal
                            {% endif %}
                        </label>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{%endblock%}